version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    open-pull-requests-limit: 5
    versioning-strategy: 'increase'
    commit-message:
      prefix: 'chore(deps)'
      prefix-development: 'chore(deps-dev)'
    groups:
      minor-and-patch:
        update-types:
          - minor
          - patch

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    open-pull-requests-limit: 5
    commit-message:
      prefix: 'chore(deps)'
